<li class="resultado">
	<a href="<%= notice_path(notice)%>">
		<div class="event-date-title">
			<div class="event-title">NOTICIAS - <%= notice.titulo %></div>
		</div>
			                                
		<div>
			<div class="event-text resultado">
			<p><%= raw truncate(notice.descricao, :length => 300, :separator => " ") %></p>
			</div>
		</div>
	</a>
</li>