<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @categoria_alimentacao.nome %>
</p>


<%= link_to 'Edit', edit_categoria_alimentacao_path(@categoria_alimentacao) %> |
<%= link_to 'Back', categoria_alimentacaos_path %>
