<form method="post" action="<%= informacaos_path %>" id="lazer-form">
                                <div class="top-bg"></div>
                                <div class="middle-bg">
                                    <div class="row row-1 clearfix">
                                        <div class="left"><input type="text" name="informacao[nome]" id="" placeholder="Digite aqui o seu nome:" style="margin-bottom: 0;" /></div>
                                        <div class="right"><input type="text" name="informacao[nome_empresa]" id="" placeholder="Nome da empresa:" style="margin-bottom: 0;" /></div>
                                    </div>
                                    <div class="row row-2 clearfix">
                                        <div class="left"><input type="text" name="informacao[telefone]" id="" placeholder="Telefones para contato:" style="margin-bottom: 0;" /></div>
                                        <div class="right"><input type="text" name="informacao[email]" id="" placeholder="Digite aqui o seu e-mail:" style="margin-bottom: 0;" /></div>
                                    </div>
                                    <div class="row row-3 clearfix">
                                        <select name="informacao[assunto]" id="" style="width: 642px;">
                                            <option disabled="disabled" selected="selected">Assunto:</option>
                                            <option>Informações gerais</option>
                                            <option>Informações gerais</option>
                                            <option>Informações gerais</option>
                                        </select>
                                    </div>
                                    <div class="row row-4">
                                        <textarea name="informacao[mensagem]" id="" placeholder="Mensagem:" style="width: 622px;"></textarea>
                                    </div>
                                    <div class="submit-btn"><button type="submit"></button></div>
                                </div>
                                <div class="bottom-bg"></div>
                            </form>