

<div class="segura-conteudo">
	
	<div class="conteudo internas">




            <div class="local-page">
                <div class="page-wrapper">
                    <div class="page-title">
                        <b>Localização</b> <span><span></span>Simplesmente perto de você</span>
                        <div class="page-share clearfix">
                            <div class="addthis_toolbox addthis_default_style">
                                <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                                <a class="addthis_button_tweet" style="width: 90px;"></a>				
                                <a class="addthis_counter addthis_pill_style"></a>
                            </div>
                        </div>
                    </div>
                    <div class="page-content clearfix">
                        <div class="column-left">                            
                            <div id="route-map">
                                <div class="top-bg"></div>
                                <div class="middle-bg">
                                    <div class="row row-1 clearfix">
                                    	<!--
                                        <div class="left"><input type="text" name="" id="" placeholder="De:" /></div>
                                        <div class="right"><input type="text" name="" id="" placeholder="Para: Montes Claros Shopping Center" /></div>
                                        -->
                                    </div>
                                    
                                    <div class="gmap-iframe">
                                        <iframe width="100%" height="670" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.br/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=Goi%C3%A2nia+-+Goi%C3%A1s&amp;aq=0&amp;oq=Goi%C3%A3&amp;sll=-16.642759,-49.261209&amp;sspn=0.557224,1.056747&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=Goi%C3%A2nia+-+Goi%C3%A1s&amp;ll=-16.642771,-49.261322&amp;spn=0.008705,0.016512&amp;z=14&amp;output=embed"></iframe>
                                    </div>
                                </div>
                                <div class="bottom-bg"></div>
                            </div>
                        </div>
                        
                        <%= render 'informacaos/menu'%>
                    </div>
                </div>
            </div>




	</div>		
			
	<div class="clear"></div>			
</div>
<script type="text/javascript">
$('.localizacao').addClass('current');
</script>