<li class="resultado">
	<a href="<%= filme_path(filme)%>">
		<div class="event-date-title">
			<div class="event-title">FILMES - <%= filme.titulo %></div>
		</div>
			                                
		<div>
			<div class="event-text resultado">
			<p><%= raw truncate(filme.sinopse, :length => 300, :separator => " ") %></p>
			</div>
		</div>
	</a>
</li>